footer
    background-color: $black
    color: white
    padding: 30px
    text-align: center

#footer-techous-image
    height: 60px
    width: 80px
    float: right
    margin-left: -70px
    margin-right: 70px

#footer-poweredby
    font-size: 22px
    margin-bottom: 50px