// color scheme
$teaGreen: #BAF2BB
$magicMint: #BAF2D8
$paleAqua: #BAD7F2
$cameoPink: #F2BAC9
$dutchWhite: #F2E2BA
$black: #20232A
$lightBlack: #282c34

*
    margin: 0
    padding: 0
    font-family: 'Alegreya', serif
    scroll-behavior: smooth

.code-snippet
    background-color: $magicMint

.bold
    font-weight: bold

.section-hr
    border: 1px solid yellow
    margin-top: -100px
    margin-bottom: 100px
    opacity: 0