// code for search sub module
#searchResults
    position: absolute
    border: 1px solid black
    width: 50%
    border-radius: 10px
    background-color: $paleAqua
    color: black
    display: none
    overflow-y: scroll

.searchResultsDiv
    border-bottom: 1px solid black
    padding: 5px

.searchResults-a
    color: black
    text-decoration: none